<!DOCTYPE html>
<html>
<head>
  <title>上传文件夹示例</title>
  <script>
    function handleFolderSelect(event) {
      var files = event.target.files;
      var fileList = document.getElementById('fileList');
      fileList.innerHTML = '';

      for (var i = 0, f; f = files[i]; i++) {
        var listItem = document.createElement('li');
        listItem.textContent = f.webkitRelativePath;
        fileList.appendChild(listItem);
      }
    }
  </script>
</head>
<body>
  <input type="file" id="folderInput" webkitdirectory directory multiple onchange="handleFolderSelect(event)">
  <ul id="fileList"></ul>
</body>
</html>
